body {
  background: #fff;
  font-family: "Inter";
}

.weather-app {
 background: linear-gradient(2.1deg, rgb(116, 253, 210) 5%, rgb(0, 191, 247) 95.8%);
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 12px;
    font-weight: 700;
}

.search-value {
  border-bottom: 1px solid rgba(248, 248, 248, 0.8);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  background: none;
  width: 300px;
  font-family: "Inter";
  color: #fff;
  padding: 3px 0;
}

.search-value:focus {
  outline: none;
  border-bottom: 2px solid rgba(248, 248, 248, 0.8);
}

.search-button {
  border: none;
  padding: 15px;
  font-size: 14px;
  font-family: "Mona Sans";
  background: #fff;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.current-city h1 {
    font-weight: 400;
}

.current-city p {
    font-size: 13px;
    margin-bottom: -15px;
}

.weather-details h5 {
    margin-bottom: -20px;
}

.weather-type {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.temperature {
    font-size: 75px;
    position: relative;
    top: -20px;
}

.temperature-icon {
    font-size: 90px;
}

.temperature-description {
    font-size: 14px;
    font-weight: 500;
    margin-top: -20px;
}

footer {
    margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
